/* 
Colors:
    Browns:
    #FAF2E4
    #E0CFB1
    #C7B089
    #AD9366
    #947848
    #7A5F30
    #61481C
    #47320E
    #332205
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-width: 360px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAF2E4;
}
.gridContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: stretch;
    place-content: start end;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto repeat(5, 1fr) auto;
    grid-gap: 8px;
    padding: 8px;
}
header {
    grid-row: 1/2;
    grid-column: 1/4;

    padding: 4em 0 1em;
    text-align: center;

    /* https://commons.wikimedia.org/wiki/File:Eventide_Timefactor_on_Pedal_Board,_Recording_Heartlyn_Rae,_Parametric_Studios.jpg */
    background: #E0CFB1 url(./media/pedalboard.jpg) no-repeat 50% 80%;
    background-size: cover;
}
header h1 {
    display: inline;
    padding: 0.2em;
    border-radius: 0.2em;
    background-color: #E0CFB1;
}
nav {
    grid-row: 2/3;
    grid-column: 1/4;

    padding: 0.5em 3em;
    background-color: #AD9366;
}
nav ul {
    margin:0 0 1.1em 0;
    padding: 0;
}
nav li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 1em;
}
a {
    text-decoration: none;
    color: inherit;
}
nav li a {
    padding: 0.1em 0.4em;
}
nav li a:hover {
    background-color: #DFEDFA;
    border-radius: 0.5em;
}
.info-overview, .info-additional, .info-image, .info-aside {
    padding: 0.5em;
    background-color: #E0CFB1;
    border: 4px solid #AD9366;
    border-radius: 8px;
}
.info-overview {
    grid-row: 3/6;
    grid-column: 1/3;
}
.info-additional {
    grid-row: 6/8;
    grid-column: 1/3;
}
.info-aside {
    grid-row: 3/8;
    grid-column: 3/4;
}
.info-aside img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}
p {
    margin-bottom: 1em;
}
footer {
    grid-row: 8/9;
    grid-column: 1/4;

    padding: 0.2em 1em;
    color: #5F83A5;
    background-color: #332206;
}
@media screen and (max-width: 800px) {
    .gridContainer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
    }
    header {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    header h1 {
        font-size: x-large;
    }
    nav {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .info-overview {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .info-additional {
        grid-row: 4/5;
        grid-column: 1/2;
    }
    .info-aside {
        grid-row: 5/6;
        grid-column: 1/2;
    }
    footer {
        grid-row: 6/7;
        grid-column: 1/2;
    }
}